@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveRight {
  0% {
    transform: translateX(0rem); }
  20% {
    opacity: 1;
    transform: translateX(-2rem); }
  100% {
    opacity: 0;
    transform: translateX(20rem); } }

@keyframes scaleBorderOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes moveLeft {
  0% {
    transform: translate(0); }
  20% {
    opacity: 1;
    transform: translateX(2rem); }
  100% {
    opacity: 0;
    transform: translate(-30rem); } }

@keyframes scaleBorder {
  0% {
    transform: scaleX(0) translateY(3rem); }
  100% {
    transform: scaleX(100%) translateY(0); } }

@font-face {
  font-family: brGrotesque;
  src: url(../fonts/brandon.otf); }

@font-face {
  font-family: Biryani;
  src: url(../fonts/Biryani/Biryani-Regular.ttf); }

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/ubuntu.ttf); }

@font-face {
  font-family: AlegreyaSans;
  src: url(../fonts/AlegreyaSans.ttf); }

@font-face {
  font-family: Ramabhadra;
  src: url(../fonts/Ramabhadra.ttf); }

@font-face {
  font-family: LibreBaskerville;
  src: url(../fonts/LibreBaskerville.ttf); }

@font-face {
  font-family: Vollkorn;
  src: url(../fonts/Vollkorn.ttf); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: Ubuntu;
  background-color: #0f181a;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 1.3rem; }

h1 {
  font-family: brGrotesque;
  text-transform: uppercase;
  color: #151d1e;
  font-size: 3.5rem; }

h3 {
  font-family: brGrotesque;
  text-transform: uppercase;
  color: #151d1e;
  font-size: 2.5rem; }

a {
  color: #151d1e;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

text {
  font-size: 1rem;
  fill: #151d1e; }

p {
  color: #151d1e; }

a {
  outline: none; }

body {
  width: 100vw;
  height: 100vh;
  position: relative; }

rect {
  fill: #006699;
  opacity: .7; }
  rect:hover {
    opacity: 1; }

.main {
  width: 800px;
  position: absolute;
  top: 30%;
  left: 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: Ramabhadra;
  color: #dfeaec;
  text-align: center;
  align-items: center;
  user-select: none; }
  .main_title {
    font-size: 76px;
    font-family: Ramabhadra;
    text-shadow: 4px 4px 6px #0f181a;
    height: 100px; }
  .main_description {
    font-size: 32px;
    text-shadow: 4px 4px 6px #0f181a; }
  .main_link {
    overflow: visible;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: .15rem 1rem;
    border-radius: 4px;
    padding: 0 .4rem;
    background-color: #253c412f;
    box-shadow: 4px 4px 6px #0f181a;
    border: 3px solid transparent; }
    .main_link:hover {
      transition-duration: 150ms;
      cursor: pointer;
      border: 3px solid; }
    .main_link:active {
      transform: translate(5px, 5px);
      box-shadow: 0px 0px 6px #0f181a; }
  .main_links {
    width: 100%;
    padding: 0 4rem;
    font-size: 32px;
    display: flex;
    justify-content: space-between; }

.pie_path {
  fill: #476b6b00;
  stroke: #476b6b00; }

@keyframes moveLeftToGone {
  0% {
    transform: translateX(0);
    opacity: 1; }
  15% {
    transform: translateX(50px);
    opacity: 1; }
  100% {
    transform: translateX(-1000px);
    opacity: 0; } }

@keyframes moveWayOutGone {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.move_left_to_gone {
  animation-name: moveLeftToGone;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.1, 0.28, 0, 1.02);
  animation-fill-mode: forwards; }

.move_way_out_gone {
  animation-name: moveWayOutGone;
  animation-duration: 800ms;
  animation-fill-mode: forwards; }

@keyframes enterToVisible {
  0% {
    opacity: 0;
    transform: rotate3d(1, 0, 0, -90deg); }
  100% {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 0); } }

.mtitle_animate {
  animation-name: enterToVisible;
  animation-duration: 180ms;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
  transform-origin: bottom; }

.mdescription_animate {
  animation-name: enterToVisible;
  animation-delay: 100ms;
  animation-duration: 180ms;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
  transform-origin: bottom; }

.mlinks_animate {
  animation-name: enterToVisible;
  animation-delay: 200ms;
  animation-duration: 180ms;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
  transform-origin: bottom; }

.no_opacity {
  opacity: 0; }

.path--background {
  fill: none;
  stroke: #cc7a00;
  stroke-width: 2px; }

.field {
  fill: #cc7a00;
  opacity: .75; }

.field:hover {
  opacity: 1;
  transition-duration: 250ms; }

.label {
  font: 210px Biryani;
  fill: #cc7a00;
  text-anchor: middle; }

.salary-chart {
  display: flex;
  width: 100%;
  height: 60vh;
  min-height: 460px;
  animation: moveFromBottom 650ms 400ms both;
  animation-timing-function: ease-out; }
  .salary-chart-title {
    animation-name: moveFromBottom;
    animation-duration: 650ms;
    animation-timing-function: ease-out; }

.pie-chart {
  animation: moveFromBottom 650ms 800ms both;
  animation-timing-function: ease-out;
  width: 100%;
  display: flex;
  height: 45vh;
  min-height: 340px;
  overflow: visible; }
  .pie-chart-title {
    animation: moveFromBottom 650ms 500ms both;
    animation-timing-function: ease-out; }

.map-content {
  display: flex;
  flex-direction: column;
  position: relative; }

.map-description {
  flex: 1;
  height: 200px;
  min-height: 200px;
  max-height: 200px; }

.map-div {
  flex: 1; }

.line-content {
  display: flex; }

.lineflex {
  flex: 0 0 70%;
  height: 50vh;
  max-height: 380px; }

.line-graph {
  width: 100%;
  height: 100%;
  overflow: visible; }

.salary-description {
  flex: 0 0 25%; }

.salary-line-chart {
  height: 100%;
  min-width: 35rem;
  min-height: 30rem;
  flex: 1; }

.pie-line-chart {
  height: 100%;
  padding-top: 1rem;
  width: 100%;
  overflow: visible; }

.pie-chart-div {
  height: 100%;
  flex: 0 0 70%; }

.pie-description {
  flex: 0 0 30%; }

.sortlabel {
  width: 100%;
  display: block;
  margin: 0 auto; }

.checkbox {
  display: none; }

.hvr-bubble-right {
  font-family: brGrotesque;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffbd84;
  width: 100%;
  min-height: 2.8rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  padding: .4rem 0;
  border: 3px solid #ffbd84;
  border-radius: 5px;
  transition: all 150ms; }
  .hvr-bubble-right:hover {
    background-color: #243B55;
    color: #fff; }

.d3-tip {
  background-color: rgba(28, 47, 68, 0.85);
  transition: all 250ms;
  padding: 10px;
  font-size: 1.1rem;
  text-align: center;
  min-width: 200px; }

.bar {
  fill: #ffbd84;
  opacity: .85;
  transition: opacity 250ms; }
  .bar:hover {
    opacity: 1; }

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges; }

.grid line {
  stroke: #fff;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.chart-div {
  margin-bottom: 2rem; }

polyline {
  opacity: 1;
  stroke: #f6f6f6;
  stroke-width: 3px;
  fill: none; }

.arc {
  transition: all 250ms; }

.arc:hover {
  transform: scale(1.1); }

.arc path {
  stroke: white; }

.overlay {
  fill: none;
  pointer-events: all; }

.focus circle {
  fill: #fff;
  stroke: #ffbd84;
  stroke-width: 5px; }

.hover-line {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 3,3; }

.text-box {
  stroke-width: 0px;
  fill: #fff;
  font-size: 20px; }

.line-path {
  stroke-width: 3px;
  fill: none; }

div.tooltip {
  position: absolute;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 20px;
  background: #1c2f44;
  opacity: .8;
  border-radius: 4px;
  border: 0px;
  pointer-events: none;
  z-index: 100; }

.nav {
  position: fixed;
  top: 4rem;
  left: 2rem;
  display: flex;
  flex-direction: column; }

.nav-nav {
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-4rem);
  opacity: 0;
  transition: all .4s; }
  .nav-nav a:not(:last-child) {
    padding-bottom: 20px; }

.nav-nav-display {
  transition: all .4s;
  opacity: 1;
  transform: translateX(0); }

.age {
  position: absolute;
  top: 150px;
  margin-top: 200px;
  left: 180px;
  width: 200px;
  height: 200px;
  background-color: #f0f4f5be;
  color: #34494b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #0f181a; }
  .age-text {
    font-size: 35px; }
  .age-number {
    position: relative;
    padding-top: .5rem;
    font-size: 85px; }

.number-container {
  background-color: #38414c;
  height: 105px;
  width: 110px;
  position: relative;
  z-index: -5; }

.area {
  stroke: #669999;
  stroke-width: 15;
  stroke-linecap: round;
  fill: none; }

.factoid, .factoid_top, .factoid_middle, .factoid_bottom {
  height: 200px;
  font-size: 25px;
  color: #3f585a;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }
  .factoid_top {
    padding-left: 4rem;
    text-shadow: 6px 6px 6px #0f181a; }
  .factoid_middle {
    color: #f0f4f5;
    text-shadow: 6px 6px 6px #0f181a;
    font-size: 32px; }
  .factoid_bottom {
    padding-left: 4rem;
    text-shadow: 6px 6px 6px #0f181a; }
  .factoid_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 430px;
    top: 150px;
    right: 5vw; }

.animate_up_to_black {
  animation: moveUpToBlack;
  animation-duration: 300ms;
  animation-timing-function: ease-out; }

.animate_down_to_white {
  animation: moveDownToWhite;
  animation-duration: 300ms;
  animation-timing-function: ease-out; }

.animate_up_to_white {
  animation: moveUpToWhite;
  animation-duration: 300ms;
  animation-timing-function: ease-out; }

.animate_down_to_black {
  animation: moveDownToBlack;
  animation-duration: 300ms;
  animation-timing-function: ease-out; }

.animate_up_to_gone {
  animation: moveUpToGone;
  animation-duration: 250ms;
  animation-timing-function: ease-out; }

.animate_down_to_gone {
  animation: moveDownToGone;
  animation-duration: 300ms;
  animation-timing-function: ease-out; }

.animate_white_bg {
  animation: whiteBGMove;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out; }

@keyframes moveUpToBlack {
  0% {
    transform: translateY(0);
    color: #f0f4f5;
    padding-left: 0px;
    font-size: 32px; }
  50% {
    color: #f0f4f5; }
  100% {
    transform: translateY(-200px);
    color: #3f585a;
    padding-left: 4rem;
    font-size: 25px; } }

@keyframes moveDownToWhite {
  0% {
    transform: translateY(0);
    color: #3f585a;
    font-size: 25px;
    padding-left: 4rem; }
  50% {
    color: #3f585a; }
  100% {
    transform: translateY(200px);
    color: #f0f4f5;
    font-size: 32px;
    padding-left: 0; } }

@keyframes moveUpToGone {
  0% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(-200px);
    opacity: 0; } }

@keyframes moveDownToShow {
  0% {
    transform: translateY(-200px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.animate_down_to_show {
  animation: moveDownToShow;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }

@keyframes moveDownToGone {
  0% {
    transform: translateY(0);
    opacity: 100%; }
  100% {
    transform: translateY(200px);
    opacity: 0; } }

.animate_up_to_gone {
  animation: moveUpToGone;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes moveUpToWhite {
  0% {
    transform: translateY(0);
    color: #3f585a;
    font-size: 25px;
    padding-left: 4rem; }
  50% {
    color: #3f585a; }
  100% {
    transform: translateY(-200px);
    color: #f0f4f5;
    padding-left: 0;
    font-size: 32px; } }

@keyframes moveDownToBlack {
  0% {
    transform: translateY(0);
    color: #f0f4f5;
    font-size: 32px;
    padding-left: 0; }
  50% {
    color: #f0f4f5; }
  100% {
    transform: translateY(200px);
    color: #3f585a;
    font-size: 25px;
    padding-left: 4rem; } }

@keyframes enterVisible {
  0% {
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.enter_visible {
  animation-name: enterVisible;
  animation-duration: 450ms;
  animation-timing-function: cubic-bezier(0, 0, 0, 1); }

.wrapper {
  margin: 3em 0; }

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #81b3d2;
  font-size: 5rem; }

a:hover {
  color: #d73444; }

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

a.before:before {
  top: -0.25em; }

a.after:after {
  bottom: -0.25em; }

a.before:before, a.after:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: #d73444; }

a.first:after {
  left: 0; }

a.second:after {
  right: 0; }

a.third:after, a.sixth:before, a.sixth:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

a.fourth:before, a.fourth:after {
  left: 0; }

a.fifth:before, a.fifth:after {
  right: 0; }

a.seventh:before {
  right: 0; }

a.seventh:after {
  left: 0; }

a.eigth:before {
  left: 0; }

a.eigth:after {
  right: 0; }

a.before:hover:before, a.after:hover:after {
  width: 100%; }

.square {
  box-sizing: border-box;
  position: relative;
  font-size: 5rem;
  overflow: hidden; }

.square a {
  position: static;
  font-size: 2rem;
  padding: 0.2em 0.4em; }

.square:before, .square:after {
  content: "";
  box-sizing: border-box;
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 5px;
  width: 0.35rem;
  height: 0;
  background: #d73444; }

.square:before {
  left: 0;
  bottom: -0.2em; }

.square.individual:before {
  transition-delay: 0.6s; }

.square:after {
  right: 0;
  top: -0.2em; }

.square.individual:after {
  transition-delay: 0.2s; }

.square a:before {
  left: 0;
  transition: 0.25s all ease; }

.square a:after {
  right: 0;
  transition: 0.25s all ease; }

.square.individual a:after {
  transition: 0.25s all ease 0.4s; }

.square:hover:before, .square:hover:after {
  height: calc(100% + 0.4em); }

.square:hover a:before, .square:hover a:after {
  width: 100%; }
