// .counties{
//     fill: #0f181a;
//     stroke-width: 1px;
//     stroke: #9ec0c7;
//     stroke-linecap: round;
// }

// .state-borders{
//     fill: none;
// }

// .water{
//     background-color: #0f181a;
// }

// .counties_2{
//     fill: #0f181a;
// }

// .state_borders_2{
//     fill: none;
//   stroke: #fff;
//   stroke-width: 2px;
//   stroke-linejoin: round;
//   stroke-linecap: round;
//   pointer-events: none;
// }

// svg {
//     background-color: #a6cee3;
// }


.water {
    background-color: #0f181a;
}


.states {
    fill: #131e20;
    stroke-width: .3px;
    stroke: #5d95a2;
}


.state-borders {
  fill: none;
  stroke: #bed5da;
  stroke-width: 2px;
}

.city-circle {
    fill: #e31a1c;
}

.city-text {
    fill: #000;
}